{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Profile Budi</title>

    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand d-md-none d-lg-block" href="/">PROFILEv2.0</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#description">Deskripsi</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Riwayat
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item nav-link" href="/#pendidikan">Pendidikan</a><br>
                            <a class="dropdown-item nav-link" href="/#organisasi">Organisasi</a><br>
                            <a class="dropdown-item nav-link" href="/#kerja">Kerja</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/#prestasi">Prestasi</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#interest">Interest</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#project">Project</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-0 col-sm-3"></div>

        <div id="main" class="col-12 col-sm-6">
            <header class="text-center">
                <img class="img-responsive" src="{% static 'assets/foto-header.jpg' %}">
                <div class="pict-box">
                    <img id="prof-pict" class="img-circle" src="{% static 'assets/foto-profil.jpg' %}">
                </div>
                <div class="name">
                    <h1>Budiman Arbenta</h1>
                    <div class="row">
                        <div class="whitespace col-2"></div>
                        <div class="header-divider col-8"></div>
                        <div class="whitespace col-2"></div>
                    </div>
                    <h2>Mahasiswa Ilmu Komputer</h1>
                </div>
            </header>

            <section>
                {% block content %}{% endblock %}
            </section>

            <footer>
                <div id="contact" class="container-fluid contact-box">
                    <div class="judul">Contact</div>
                    <div class="contact-isi">
                        <table class="table table-borderless">
                            <tr>
                                <td class="col-lg-1"></td>
                                <td class="col-lg-2 contact-item"><img class="contact-icon img-responsive" src="static/assets/icon-mail.png"></td>
                                <td class="col-lg-4 contact-item">arbenta6@gmail.com</td>
                                <td class="col-lg-5"></td>
                            </tr>
                            <tr>
                                <td class="col-lg-1"></td>
                                <td class="col-lg-2 contact-item"><img class="contact-icon img-responsive" src="static/assets/icon-phone.png"></td>
                                <td class="col-lg-4 contact-item">085922147515</td>
                                <td class="col-lg-5"></td>
                            </tr>
                            <tr>
                                <td class="col-lg-1"></td>
                                <td class="col-lg-2 contact-item"><img class="contact-icon img-responsive" src="static/assets/icon-location.png"></td>
                                <td class="col-lg-4 contact-item">Jl. Margonda Raya No.48, RW.7, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</td>
                                <td class="col-lg-5"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="social-media">
                    <ul class="social-media-list">
                        <li class="social-media-item">
                            <a class="col-2" href="https://www.instagram.com/budiiarb/"><img  class="social-media-logo" src="{% static 'assets/logo-instagram.png' %}"></a>
                        </li>
                        <li class="social-media-item">
                            <a class="col-2" href="https://www.linkedin.com/in/budiman-arbenta-a79195186/"><img  class="social-media-logo" src="{% static 'assets/logo-linkedin.png' %}"></a>
                        </li>
                        <li class="social-media-item">
                            <a class="col-2" href="http://wa.me/6285922147515"><img  class="social-media-logo" src="{% static 'assets/logo-whatsapp.png' %}"></a>
                        </li>
                        <li class="social-media-item">
                            <a class="col-2" href="https://www.facebook.com/profile.php?id=100010368942788"><img  class="social-media-logo" src="{% static 'assets/logo-facebook.png' %}"></a>
                        </li>
                        <li class="social-media-item">
                            <a class="col-2" href="https://www.youtube.com/channel/UC2K54ryFsBc8qAkryYZfitg?view_as=subscriber"><img  class="social-media-logo" src="{% static 'assets/logo-youtube.png' %}"></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>

        <div class="col-0 col-sm-3"></div>
    </div>
</body>
</html>