{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container-fluid content-box">
    <div class="judul">Moments</div>
    <div class="content-isi">
        <div class="row">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/o2n.png' %}" alt="O2N">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/station.png' %}" alt="station">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/pandora.png' %}" alt="pandora">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/arcade.png' %}" alt="arcade">
        </div>
    </div>
</div>
<div class="container-fluid content-box">
    <div class="judul">Travel</div>
    <div class="content-isi">
        <div class="row">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/sunset.png' %}" alt="sunset">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/bonfire.png' %}" alt="bonfire">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/cliff.png' %}" alt="cliff">
            <img class="col-sm-6 img-responsive" src="{% static 'assets/bali.png' %}" alt="bali-sunset">
        </div>
    </div>
</div>
{% endblock %}